<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} asv-petri-heil.de.he-12842650.dummy$
RewriteRule ^(.*)$ "http://he-12842650.dummy/404" [R=301,L]
</IfModule>
# BEGIN ANSIBLE MANAGED BLOCK
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} wp12842650.server-he.de.he-12842650.dummy$
RewriteRule ^(.*)$ "http://he-12842650.dummy/404" [R=301,L]
</IfModule>
# END ANSIBLE MANAGED BLOCK
AddHandler application/x-httpd-alt-php83___lsphp .php
DirectoryIndex index.html index.htm index.shtml index.php index.php5 index.wml index.xml

# Force UTF-8 encoding for HTML files
AddDefaultCharset UTF-8
AddCharset UTF-8 .html .htm .css .js
